@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  list-style: none;
  text-decoration: none;
  
}

body {
  color: rgb(90, 87, 87);
  
  font-family: var(--bs-font-sans-serif);
 
  
  background-position: center;
  background-size: cover;
  height: 100vh;
}


@media(max-width:1124px){
  nav ul li{
    margin-top: 3rem !important;
  }
  nav ul li a{
    font-size: 1.5rem !important;
  }
}


.fl-fl {
  text-align: right;
  background: #000000;
  box-shadow: 1px 1px #888888;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 200px;
  position: fixed;
  left: -160px;
  z-index: 1000;
  border-radius:0px 10px 10px 0px;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-right: 6px;
}

.fl-fl:hover {
  left: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}
.float-le { 
  top: 160px;
}

.float-ig {
  top: 215px;
}

.float-tw {
  top: 270px;
}

.float-yt {
  top: 325px;
}

.float-lk {
  top: 380px;
}

.float-gh {
  top: 435px;
}

.float-ma{
  top: 490px;
}

/* Floating Social Media Bar Style Ends Here */
/*colors and styles*/
 #github{
   background-color:#211F1F;
 }
 #twitter{
   background-color:  #00acee;
   box-shadow: 1px 1px #009AD5;
 }
 #mail{
  background-color: #DB4437;
  box-shadow: 1px 1px #D33426;
 }

 #events{
  background-color: #FFA240;
  box-shadow: 1px 1px #FF9627;
 }
 
 #instagram{
   background: linear-gradient(45deg,#405DE6,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D);
   box-shadow: 1px 1px #D81F5E;
   
 }
 #linkedin{
  background-color: #0e76a8;
  box-shadow: 1px 1px #0C6590;
 }

 #youtube{
   background-color:#FF0000;
   box-shadow: 1px 1px #FF1A1A;
 }

h1 {
  text-align: center;
  margin:200px 0 0 0;
  font-size: 2.5rem;
}



.landing {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.accordion {
  flex: 10 5 0;
  padding: 5%;
  width: 90%;
  
  
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  
  font-size: large;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  text-align: left;
  
  font-size: medium;
}



