
.speakers-section {
    background-color: #8c8c8c;
    z-index: 1;
}

.sub-headings {
    color: rgb(90, 87, 87);
    text-align: center;
}
.sec-title{
    position:relative;
    margin-bottom:20px;
    margin-top: 10px;
}
body{
     color: rgb(90, 87, 87);
     font-weight: bold;
     font-family: var(--bs-font-sans-serif);
     background-image: url(bg.gif);
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;

}

/*body{
    background-image: url(bg.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: #464646;
}*/

#vid {
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    width:150%;
}
@media screen and (max-width: 800px) {
    
  #vid {
      margin-left:10% !important;
    margin-right:10%;
    margin-top: 5%;
    margin-bottom: 10%;
    width:70% !important;
  }
  main{
      margin:0 12% !important;
  }
}
.text {
    text-align: left;
}
.sec-title .title{
    position: relative;
    display: block;
    font-size: 12px;
    
    color: #fdda33;
    font-weight: 500;
    margin-bottom: 30px;
}

.sec-title h2{
    position:relative;
    display: inline-block;
    font-size:35px;
    font-weight: bolder;
    line-height:1em;
    color: rgb(90, 87, 87);
   
    padding-bottom: 30px;
    z-index: 2;
}


.sec-title.active h2:before{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.sec-title h2:after{
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 50px;
    content: "";
    background-color: #d1d2d6;
}

.sec-title.light h2{
    color: #ffffff;
}

.sec-title.light h2:after{
    opacity: .20;
    background-color: #ffffff;
}

.sec-title.text-center h2:before,
.sec-title.text-center h2:after{
    right: 0;
    left: 0;
    margin: 0 auto;
}

.sec-title.text-center h2:before{
    opacity: .60;
}

.speakers-section{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 145px 0 90px;
    overflow:hidden;
    background-color: white;                              
}

.speaker-block{
    position: relative;
    margin-bottom: 40px;
}

.speaker-block .inner-box{
    position: relative;
}

.speaker-block .image-box{
    position: relative;
    padding: 30px;
    background-color: rgba(255,255,255,.15);
    overflow: hidden;
    border-radius: 7%;
}
/*.corner {                                      
    border-radius: 3%;
}*/







.namesil {
  padding: 0 16px;
  padding-top: 10px;
}

.row {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Clear floats */
.namesil::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.designation {
  border: none;
  outline: 0;
  display: inline-block;
  color: rgb(90, 87, 87);
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 3%;
  font-size: 20px;
  font-weight: bold;
    line-height: 1em;
}










.speaker-block .image-box .image:after,
.speaker-block .image-box:before{
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: #ffffff;
    content: "";
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.speaker-block .inner-box:hover .image-box .image:after,
.speaker-block .inner-box:hover .image-box:before{
    height: 100%;
}

.speaker-block .image-box .image:after{
    opacity: .40;
    z-index: 1;
    top: auto;
    bottom: 0;
    background-color: white;                 /* change*/
}

.speaker-block .image-box .image{
    position: relative;
    margin-bottom: 0;
    z-index: 1;
    overflow: hidden;
}

.speaker-block .image-box .image img{
    display: block;
    width: 100%;
    height: auto;
}   


.speaker-block .social-links{
    position: absolute;
    left: 0;
    bottom: -140px;
    padding: 30px;
    width: 100%;
    z-index: 9;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.speaker-block .social-links ul{
    position: relative;
    padding: 15px;
    /*padding: 30px 20px;*/
    text-align: center;
    background-color: #fcdf4f;
}

.speaker-block .social-links li{
    position: relative;
    display: inline-block;
    margin: 0 9px;
}

.speaker-block .social-links li a{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400px;
    font-size: 2.2rem;
    border-radius: 50%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

/*.speaker-block .social-links li a:hover{
    color: #fac201;
}*/

/*.fa-linkedin{

    border-radius: 10px 10px 10px 10px;
}
/*#fafa {
    background-color: #0e76a8;
    border-radius: 10px 10px 10px 10px;
}*/
/*.fab {
    background-color: blue;
    padding:5px;
    border-radius: 10px 10px 10px 10px;
}*/

/*.circle-icon-linkedin {
    background-color: white;
    padding:5px;
    border-radius: 50%;
}


.circle-icon-twitter {
    background: white;
    padding:5px;
    border-radius: 50%;
}
.circle-icon-github {
    background: white;
    padding:5px;
    border-radius: 50%;
}*/

.linkedin{
    color:#0e76a8;
}

.twitter{
    color:#00acee;
}

.github {
    color: #333;
}

.speaker-block .inner-box:hover .social-links{
    bottom: 0;
}

.speaker-block .caption-box{
    position: relative;
    padding-top: 0px;
    padding-left: 20px;
}

.speaker-block .caption-box .name{
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1em;
    color: rgb(90, 87, 87);                                  /* here                          */
    font-weight: 400;
    margin-bottom: 10px;
}

.speaker-block .caption-box .name a{
    color: #ffffff;
    display: inline-block;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.speaker-block .caption-box .name a:hover{
    color: #fdda33;
}

.speaker-block .caption-box .designation{
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    opacity: .70;
}
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        img {
    max-width: 100%;
    height: auto;
}