*{

margin: 0;
  padding: 0;
  box-sizing: border-box;

  
  
  

}


body{
  width: 100%;
  background-size: cover;
  background-image: url("assets/images/Untitled design (1).gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}



#dscBanner p{
 margin-bottom: 5%;
 margin-left: 15%;
 font-size: 3.5rem;
}
#aboutDSC{
  margin-left:5% !important;
  
  font-size: 2rem !important;
  text-align: justify;
  
  padding: 0 10% 10% 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#dscBanner img{
  width:90%;
  height: auto;
}
p b{
  color: rgb(90,87,87);
  
}
.img-fluid{
   
  width: 70%;
  object-position: center;

}
@media(max-width: 1124px){
  nav ul li a{
    font-size: 1.3rem !important;
  }
  
}

@media(max-width: 900px){
  #dscBanner p{
    font-size: 3rem;
  }
  #graph{
    padding-top: 0;
  }
  #aboutDSC{
   font-size: 1.5rem !important;
  text-align: justify;
  text-justify:inter-word;
}  
#card-sec h1{
  font-size: 2.5rem !important;
}
}
@media(max-width: 786px)
{
  
  #dscBanner p{
    font-size: 2.5rem;
  }
  #card-sec h1{
    font-size: 2.5rem !important;
    font-weight: bold;

  }
    .home_main{
      padding-top: 0;
    }
#aboutDSC{
   font-size: 1.5rem !important;
  text-align: justify;
  text-justify:inter-word;
}  
  }





.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4285F4;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}


.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
    
  border: 4px solid #Fff;
  animation: loader 4s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 4s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
