@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

:root {
  --dark-blue: #1F4782;
  --dark-gray: #303335;
  --golden: #AB834C;
  --golden-tainoi: #E9BE71;
  --gray: #818C96;
  --white: #FFF;
}



.general-container {
  display: flex;
  height: 30rem;
  margin: 0 auto;
  width: 70%;
  


}

.radio {
  display: none;
}

.content {
  background-color:#fff;
  border-radius: 3rem;
  cursor: pointer;
  flex: 1;
  margin-right: 0.8rem;
  overflow: hidden;
  position: relative;
  transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.content:hover {
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
}

.icon {
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  bottom: 1rem;
  color: var(--golden-tainoi);
  display: flex;
  font-size: 1.5rem;
  height: 2.5rem;
  justify-content: center;
  left: 1.1rem;
  position: absolute;
  width: 2.5rem;
}
.content:nth-of-type(1) {
  background-image: url("https://images.unsplash.com/photo-1519074002996-a69e7ac46a42?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8dGVhbXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
}
.content:nth-of-type(2) {
  background-image: url("assets/images/gsoc.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content:nth-of-type(3) {
  background-image: url("assets/images/solution_challenge.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
}



.content:nth-of-type(2) .icon {
  color: var(--dark-gray);
}

.content:nth-of-type(3) .icon {
  color: var(--dark-blue);
}

.content:nth-of-type(4) .icon {
  color: var(--gray);
}

.content:nth-of-type(5) .icon {
  color: var(--golden);
}

.card-cardtitle a{
  bottom: 1.5rem;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  left: 1.5rem;
  line-height: 1.1;
  opacity: 1;
  font-weight: bolder;
  position: absolute;
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  transform: translateX(2rem);
  transition: 290ms cubic-bezier(0.05, 0.61, 0.41, 0.95) 300ms;
  transition-property: opacity, transform;
  user-select: none;
  white-space: nowrap;
}

.subtitle {
  font-size: 0.9rem;
}

/* Effect */
.radio:checked + .content {
  border-radius: 2rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
  flex: 10;
}

.radio:checked + .content > .card-title {
  opacity: 1;
  transform: translateX(0);
}

#id{
    height: 200px;
    width:200px;
    color: white;
}
